@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #f1f5f9;
    --textClr: #0f172a;
    --softBg: #d5dce6;
    --softClr: #324057;
    --prim: #0e4558;
  }
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--prim);
}

a:hover {
  @apply transition-all duration-200 opacity-80;
}

.dark {
  --bg: #0f172a;
  --textClr: #f1f5f9;
  --softBg: #2a3a54;
  --softClr: #cbd5e1;
  --prim: #98e0ff;
}
